.carousel-caption{
    position:absolute;
    top:50%;
    transform:translateY(-62%);
}
.carousel-item{
    background:linear-gradient(rgba(32, 166, 162, 0.4),#009688) ,url(7.jpg);
}
@media(max-width:768px){
    .collapse{display:fle}
    .navbar-collapse{display:flex;}
}